.heading {
  font-size: 30px;
  color: rgb(247, 95, 8);
}

.intro {
  font-size: 20px;
}

.input {
  border-style: none;
  border: 1px solid rgb(247, 95, 8);
  border-radius: 30px;
  width: 350px;
  text-align: center;
  padding: 6px;
  background: #faf1ee;
  border: 1px solid #fabaa7;
  box-sizing: border-box;
  border-radius: 10px;
}

.input:focus {
  outline: none;
}

.btn {
  height: 30%;
  border: none;
  margin-left: 15px;
  color: white;
  padding: 7px 20px;
  font-size: 12px;
  font-weight: 700;
  background: #fe724c;
  border-radius: 10px;
  font-size: 16px;
}

.btn:hover {
  border: 1px solid #fe724c;
  background-color: white;
  color: #fe724c;
  transition: 0.5s ease;
}
