.navBar {
  background-color: #fe724c;
  border: 1px solid #fabaa7;
  font-size: 16px;
  font-weight: 400;
}
.brand {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
.heartBtn {
  border-style: none;
  background-color: transparent;
  margin-left: 10px;
  font-size: 40px;
  color: white;
  padding: 5px;
}
.heartBtn:hover {
  color: red;
  transform: scale(1.3);
  transition: 0.5s ease;
  color: inherit;
}
.heartIcon:hover {
  color: red;
}
.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: inherit;
}
.btn {
  margin-left: 15px;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border: 3px solid white;
  background-color: #f8d8ce;
  color: #fe724c;
  border-radius: 10px;
  font-size: 16px;
}

.btn:hover {
  border: 3px solid #fe724c;
  background-color: white;
  color: #fe724c;
  /* transition: 0.5s ease; */
}

:local(.navBar) {
  color: white !important;
}
.NavDropdown {
  color: white !important;
}

/* .btnOnNavbar {
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border: 3px solid white;
  background-color: #f8d8ce;
  color: #fe724c;
  border-radius: 10px;
  font-size: 16px;
} */
