.navBar {
  margin-bottom: 10px;
  background-color: #fe724c;
  border: 1px solid #fe724c;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.brand {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
.heartIcon:hover {
  color: red;
  transform: scale(1.3);
  transition: 0.5s ease;
}
.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  border: 3px solid #fe724c;
  color: white;
  transform: scale(1.1);
}

.btn {
  border: none;
  background-color: transparent;
  color: white;
}

.btn:hover {
  transition: 0.5s ease;
  transform: scale(1.1);
  font-weight: 500;
}

:local(.navBar) {
  color: white !important;
}
